$backgroundC: #ffffff;
$MypageBG: black;
$PromotionBG: #455b78;
$LoopBarBG: #e67e22;
$LoopeBarMain: black;
$LoopBarWord: rgba(180, 180, 180, 0.5);

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
main {
  backface-visibility: hidden;
  background-color: $backgroundC;
  position: relative;
  overflow-y: auto;
  transform: translateZ(0);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  z-index: 2;
}
.inner {
  display: flex;
  height: inherit;
  justify-content: center;
}

/* Header */
header {
  line-height: 3em;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background-color: $backgroundC;
}
.logo,
.login {
  height: inherit;
  min-width: 5%;
}
.logo {
  max-width: 100%;
  font-size: 30px;
  padding-right: 20px;
}
.search-box {
  border: solid 0.5px rgb(159, 159, 159);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 5px;
  width: 40%;
  input {
    border: none;
    outline: none;
    text-indent: 1em;
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
  }
  button {
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
.my-page {
  background-color: $MypageBG;
  border-radius: 8px;
  color: white;
  height: inherit;
  padding: 0px 15px;
  a:link,
  a:visited {
    color: white;
    text-align: center;
  }
}
a:visited {
  color: black;
  text-align: center;
}

/* Login */
.section > .inner {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.LoginP {
  font-size: 100px;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}
#LoginForm {
  display: grid;
  grid-template-columns: auto;
  font-weight: bold;
  width: 100%;

  div {
    padding: 20px 0;
  }
  button {
    background-color: $MypageBG;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 25px;
  }
}
#LoginForm label {
  font-size: 19px;
  margin-top: 30px;
}
#LoginForm input {
  width: 450px;
  height: 35px;
}
#LoginForm button {
  margin-left: auto;
  margin-right: auto;
}

/* icon */
.icon {
  height: 140px;
  margin: 40px 0;
  img {
    width: 75px;
    padding: 0 10px;
  }
}

/* footer */
footer {
  background-color: #243040;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  padding: 30px;
  text-align: center;
  bottom: 0;
}
