img{
    animation: fadeInAnimation ease 1.3s;
}

@keyframes fadeInAnimation {
    100% {opacity: 0;}
    0% {opacity: 1;}
}  


/* img{
    animation: fadeout o ease 1.5s;
    animation-iteration-count: 1;
} */
